{% extends 'base.html.twig' %}

{% block title %}Inscription - BibliothèqueOnline{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0"><i class="fas fa-user-plus me-2"></i>Créer un compte</h4>
            </div>
            <div class="card-body">
                {{ form_start(registrationForm) }}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_label(registrationForm.firstName) }}
                            {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error">
                                {{ form_errors(registrationForm.firstName) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_label(registrationForm.lastName) }}
                            {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error">
                                {{ form_errors(registrationForm.lastName) }}
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error">
                            {{ form_errors(registrationForm.email) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_label(registrationForm.plainPassword.first) }}
                            {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error">
                                {{ form_errors(registrationForm.plainPassword.first) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_label(registrationForm.plainPassword.second) }}
                            {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error">
                                {{ form_errors(registrationForm.plainPassword.second) }}
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-check">
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                        {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                        <div class="form-error">
                            {{ form_errors(registrationForm.agreeTerms) }}
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
            <div class="card-footer text-center">
                <p class="mb-0">
                    Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous ici</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}